@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}


.activity-filters {
    display: flex;
    justify-content: center;
    margin-top: -200px;
    margin-bottom: 40px;
}

.stack {
    font-family: 'Monsterrat';
    display: flex;
    align-items: center;
    align-content: center;
}

.title {
    font-family: 'Monsterrat';
    font-size: 36px;
}