@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.activity-filters {
    display: flex;
    justify-content: center;
    margin-top: -200px;
    margin-bottom: 40px;
}

.stack {
    font-family: 'Monsterrat';
    display: flex;
    align-items: center;
    align-content: center;
}

.title {
    font-family: 'Monsterrat';
    font-size: 36px;
}

@media (max-width: 900px) {
    .activity-filters {
        display: flex !important;
       flex-direction: column !important;
       align-self: center;
       align-items: center;
    }

    .activity-stack {
        display: flex !important;
        flex-direction: column !important;
        gap: 20px;
        background-color: colors.$primary_main;
        width: 100%;
        padding: 10px;
    }
}