@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Light.ttf');
}

.profile-hero {
    font-family: 'Monsterrat';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    font-family: 'Monsterrat';
    height: 320px;
    width: 100%;
}