@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.profile-collection {
    font-family: 'Monsterrat';
    width: 100%;
}

.title {
    font-family: "Monsterrat";
    font-size: 25px !important;
}

@media (max-width: 900px) {
    .cardsContainer {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 40px;
        max-height: 550px;
        overflow-x: scroll;
        direction: row !important;
        min-width: 420px;
    }

    .card {
        min-width: 260px;      
        padding: 20px; 
    }



}