@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.profile-collection {
    font-family: 'Monsterrat';
    border: 3px solid red;
}