@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}
.container {
    display: flex;
    transition: 1s;
}

.container:hover {
    background-color: rgba(colors.$primary_main, 60%);
}

.container > p {
    display: flex;
    justify-content: center;
    background-color: rgba(colors.$primary_main, 20%);
    font-weight: 700;
    font-size: 25px;
    width: 20%;
    margin: 0;
    padding: 25px 35px;
}

.container > div {
    background-color: rgba(colors.$primary_main, 10%);
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.light > p {
    background-color: rgba(colors.$primary_main, 50%);
}

.light > div {
    background-color: rgba(colors.$primary_main, 30%)
}