@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}
.collectorColumn {
    border-radius: 15px;
    font-family:'Monsterrat';
    display: flex;
    flex-direction: column;
    margin: 5px;
    overflow-x: auto;
}
