@use "../../styles/colors";

.container {
    display: flex;
    border: 3px solid red;
}

.container > p {
    background-color: colors.$background_paper;
    font-weight: 700;
    font-size: 25px;
}

.container {
    background-color: colors.$background_default;
}

.light > div  {
    
    border: 3px solid green;
    background-color: red;
}

