@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.hero {
   background-color: colors.$primary_main;
   text-align: center;
   padding: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 100px;
   height: 350px;
}

.text {
    font-family: 'Monsterrat';
    text-transform: uppercase;
}