@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.counterContainer {
    padding: 1px;
    height: 0px;
}


.liveIcon {
    width: 21%;
    font-family:'Monsterrat';
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
    color: colors.$background_paper;
    background-color: colors.$secondary_main;
    position: relative;
    bottom: 270px;
    left: 25px;
}

.liveIcon > span {
    animation:blink 1s linear infinite;
}

.counter {
    background-color: colors.$secondary_main;
    color: colors.$background_paper;
    font-family:'Monsterrat';
    font-weight: 700;
    border-radius: 0 0 10px 10px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    bottom: 110px;
    width: 90%;
    left: 16px;
}

@keyframes blink {
    0%{opacity:0}
    100%{opacity: 1}
}