@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.cardImage {
    border-radius: 10%;
    padding: 10px;
};

.live {
    font-family: 'Monsterrat';
}

.Card_title{
    flex: 1;
    margin: 0;
    font-family: Monsterrat;
    font-size: 14px;
};

.likes {
    display:flex;
    background: rgba(36, 242, 94, 0.1);
    border: 2px solid #24F25E;
    box-sizing: border-box;
    border-radius: 17px;
    width: 70px;
    justify-content: space-evenly;
    align-items: baseline;
    color: #24F25E;
    height: 33px;
    margin: 0px;
    flex: 0 0 30%; 
    font-family: 'Monsterrat';
    font-weight: 1000;
}


.price {
    flex: 1;
    margin: 0;
    font-family: 'Monsterrat';
    font-weight: 1000;
    color: colors.$info_main;

};

.infoContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}

.trendingCards{
    padding:0px;
}

