@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product {
    border: 3px solid red;
}

.image {
    border: 3px solid red;
}