@use "../../styles/colors";
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info-timer {
    background: #24F25E;
    font-family: 'Monsterrat';
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 118px;
    overflow: hidden;
    margin-left: 10px;
};

.title {    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    text-align: center;
    font-size: 12px;
    width: 100%;
    background: #0d7e2d;
    font-weight: bold;
}   

.countDownWrapper {
    height: 65%;
    display: flex;
    align-items: center;
}

.active {
    background: #24F25E !important;
    width: 100%;
    border-radius: 15px;
}

.inactive {
    display: none;
}

.timer {
    font-family: 'Monsterrat';
    background-color: colors.$secondary_main !important;
    width: 100%;
    height: 120px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}