@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-image {
   text-align: center;
   padding: 25px;
   display: flex !important;
   justify-content: flex-end;


}

.image {
    width: 520px;
    height: 590px;
    border-radius: 10px;
   align-self: center;

    
}