@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-image {
   text-align: center;
   display: flex !important;
   padding: 8px;
}

.image {
    width: 630px;
    height: 720px;
    border-radius: 10px;
   align-self: center;
   
}

@media (max-width: 900px) {
    .image {
        width: 20rem;
        height: 25rem;
    }
}