@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-action {
    font-family: 'Monsterrat';
    padding-top: 50px;
}

.button {
   padding: 10px 20px 10px !important;
   color: white;
   font-size: 13px !important;

}
