@use "../../styles/colors";
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info {
    text-align: center;
}

.stats {
    justify-content: center;
}