@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info-title {
    border-bottom: 3px solid #4E24F2;
    padding-bottom: 30px;
    justify-self: start;
}

.title {
    font-size: 50px;
    font-family: 'Monsterrat';
}

@media (max-width: 900px) {
    .product-info-title {
        display: flex !important;
        justify-content: center;
        align-self: center;
    }
    
   .title {
       display: flex !important;
       justify-content: center;
       align-self: center;
   }
}