@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info-likes {
    margin: 0px;
    
}

.likes {
    background: rgba(36, 242, 94, 0.1);
  
}