@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-tabs {
    font-family: 'Monsterrat';
}

.table-row-0 {
    border: 3px solid red;
}

.table-row-1 {
    border: 3px solid rgb(114, 109, 109);
}

.tab-details {
    font-family: 'Monsterrat';
    font-size: 14px;
}

.tab-bids {
    font-family: 'Monsterrat';
    font-size: 14px;
}