@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-action {
    font-family: 'Monsterrat';
}

.button {
    color: white;
}

.button {
   padding: 10px 20px 10px !important;
   width: 80%;
}
