@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info-price {
    text-transform: uppercase;
    font-family: 'Monsterrat';
    text-align: start;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: colors.$text_secondary;
}