@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-container {
   display: flex;
   justify-content: center;
   padding: 30px 0px;
}