@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info-likes {
    position: relative;
}

.likes {
    border: 2px solid #24F25E !important;
    border-radius: 7px !important;
    align-items: baseline;
    background-color: #013d12 !important; ;
    font-family: 'Monsterrat';
    font-weight: 1000;
}