@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info-status {
    position: relative;
    right: 5px;
}


.chip {
    margin: 5px;
    font-family: 'Monsterrat';
    font-weight: 900;
    text-align: center;
    border-radius: 7px !important;
    font-weight: 800;
    color: black !important;
    background-color: colors.$secondary_main !important;
}