@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info-title {
    position: absolute;
    width: 398px;
    height: 73px;
    left: 1093px;
    top: 176px;
}

.title {

    
    /* h1-hd */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    
    color: #FFFFFF;
}