@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info-price {
    text-transform: uppercase;
    font-family: 'Monsterrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-top: 30px;
}