@use "../../styles/colors";
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-info-creator {
    background-color: colors.$background_paper;
    position: relative;
    width: 100%;
    font-family: 'Monsterrat';
    border-radius: 15px;
    cursor: pointer;
}

.title {
    background-color: colors.$primary_main;
    padding: 10px 15px 5px;
    font-family: 'Monsterrat';
    font-weight: 600;
    font-size: 10px;
    line-height: 22px;
    display: flex;
    width: 100%;
    border-radius: 15px 15px 0 0;
    
}

.user-container {
    background-color: colors.$background_paper;
    font-family: 'Monsterrat';
    font-weight: 800;
    display:flex;
    position: relative;
    align-items: center;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    border-radius: 0 15px 15px;
}