@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.product-tabs {
    font-family: 'Monsterrat';
    background-color: red;
    border: 3px solid red;
};

.table-row {
    &-0 {
        border: 3px solid grey;
    }

    &-1 {
        border: 3px solid green;
    }
}

.tab-details {
    font-family: 'Monsterrat';
    font-size: 14px;
}

.tab-bids {
    font-family: 'Monsterrat';
    font-size: 14px;
}