@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}

.title {
    background-color: colors.$primary_main;
}

.product-info-creator {
    background-color: colors.$background_paper;
}

.user-container {
    background-color: colors.$background_paper;

}