@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Light.ttf');
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: colors.$background_paper;
    padding: 10px;
}


.search {
    background-color: colors.$background_default;
    color: colors.$text_secondary;
    border-radius: 20px;
    font-family: 'Monsterrat';
};

.search[placeholder] {
    font-family: 'Monsterrat';
}

.searchIcon {
    color: colors.$text_primary;
};

.btns {
    font-family: 'Monsterrat';
    
} 

@media (max-width: 900px) {
    .logo{
        display: flex;
        margin-bottom: 10px;
        justify-content: center !important;
        justify-self: center !important;
        background-color: colors.$primary_main;
        width: 100%;
    }

    .search {
        margin: 1rem;
    }

    .btns {
        justify-content: center !important;
        padding: 1em;
    }


}


