@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Black.ttf');
}


.explore-filters {
    font-family: 'Monsterrat';
}

.stack {
    font-family: 'Monsterrat'; 
}


@media (max-width: 900px) {
    .explore-filters {
        display: flex !important;
       flex-direction: column !important;
       align-self: center;
       align-items: center;
       width: 100%;
    }

    .explore-stack {
        display: flex !important;
        flex-direction: column !important;
        gap: 20px;
        width: 100%;
        padding: 10px;
        justify-content: center !important;
        
    }
}