@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Light.ttf');
}

.HowContainer {
    align-items: center;
    
}

.textContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

.CardTitle {
    font-family: 'Monsterrat';
    font-weight: 1000;
    font-size: 60px;
    margin: 0;
}

.CardHolder {
    padding: 0px;
    margin: 0px;
}

.CardDescription {
    font-family: 'Monsterrat';
    font-weight: 200;
}
