@use '../../styles/colors';
@font-face {
    font-family: Monsterrat;
    src: url('../../styles/Montserrat/Montserrat-Light.ttf');
}
.howContainer {
    align-items: center;
}

.textContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}

.CardTitle {
    font-family: 'Monsterrat';
    font-weight: 1000;
    font-size: 60px;
    margin: 0;
}

.CardHolder {
    padding: 0px;
    margin: 0px;
}

.CardDescription {
    font-family: 'Monsterrat';
    font-weight: 100;
}

@media (max-width: 900px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 50px;
    }

    .cards {
        display: none;
    }

    .CardTitle {
        text-align: center;
        width: 80rem;

    }

    .CardDescription {
        width: 50rem;
    }

    .textContainer {
        text-align: justify;
        display: flex !important;
        justify-content: center;
    };

    
}
