@use '../../styles/colors';

.main {
    background-color: colors.$background_default;
}

.heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1000;
    display: 'flex';
    margin-right: 35px;
}

.select {
    width: 20%;
    border-radius: 50%;
    padding: 0;
};



.select[value] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1000;
}

.gridContainer {
    justify-content: 'space-even';
    padding:10px;
};

